body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding-top: 30px;
	background-color: darkred;
	color: red;

}

#container
{
	position: relative;
	height: 400px;
	width: 60%;
	margin: auto;
	background-color: grey;
	border-top-right-radius: : 10px;
	border-top-left-radius: : 10px;
	border: 1px solid black;

	overflow: hidden;
}

#scoreboard{
	/*margin-top: 50px;*/
	width: 60%;
	height: 100px;
	border-radius: 0 0 10px 10px;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	margin: auto;
	box-shadow: 10px, 5px, 5px, rgba(0, 0, 0, 0.7);
}

h2{

	color: rgba(0, 0, 0, 0.6);
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#player1 {
	margin-top: 20px;
	text-align: center;
	float: left;
	margin: auto;
	margin-left: 10%;
	width: 40%;
	height: 80%;
	border: 1px solid grey;
	border-radius: 10px;
}

#player2 {
	margin-top: 20px;
	text-align: center;
	margin: auto;
	float: left;
	width: 40%;
	height: 80%;
	border: 1px solid grey;
	border-radius: 10px;
}

#ball
{
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: #aaa;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	border: 1px solid #ccc;

	background: rgb(234,234,234); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(234,234,234,1) 1%, rgba(112,112,112,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(234,234,234,1)), color-stop(100%,rgba(112,112,112,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(234,234,234,1) 1%,rgba(112,112,112,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(234,234,234,1) 1%,rgba(112,112,112,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(234,234,234,1) 1%,rgba(112,112,112,1) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(234,234,234,1) 1%,rgba(112,112,112,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#707070',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.paddle
{
	position: absolute;
	height: 20px;
	width: 200px;
	background-color: white;
	left: 40%;
}

#paddle_1
{


	bottom: 0;
	background-color: red;
	margin-bottom: 1px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-top: 1px solid black;
	border-bottom: 1px solid white;
}

#paddle_2
{
	top: 0;
	background-color: blue;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-top: 1px;
	border-bottom: 1px solid black;
	border-top: 1px solid white;
}

#restart_div
{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: green;
	color: white;
	font-family: sans-serif;
	font-size: 40px;
	text-align: center;
}


#restart
{
	/* border: none; */
	padding: 5px;
	margin-top: 50px;
	color: white;
	background-color: red;
	font-size: 30px;

}
